.headers-editor {
    height: 75px;
}
.payload-editor {
    height: 150px;
}
.response-editor {
    height: 600px;
}
body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.icon-start {
    color: green
}
.icon-stop {
    color: red
}
